[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
gensim = "*"
nltk = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
ipykernel = "*"
sklearn = "*"
ipympl = "*"
ipycanvas = "*"
graphviz = "*"
wordcloud = "*"
pyldavis = "*"

[dev-packages]
autopep8 = "*"
